<div class="container top-pad">
  <div class="button-container">
    <div class="row ">
      <div class="col">

        <a mat-raised-button class="button-list" href="https://bit.ly/2CRWhC7" target="_blank">
          <mat-icon>ondemand_video</mat-icon> Cincinnatian VR Tour
        </a>

        <a mat-raised-button class="button-list" href="https://www.arcgis.com/apps/Cascade/index.html?appid=6cc2860e124743e6a36efbf6a7723f9e" target="_blank">
          <mat-icon>menu_book</mat-icon> Cincinnatian Storymap
        </a>

        <a mat-raised-button class="button-list" href="https://bit.ly/333lUdR" target="_blank">
          <mat-icon>3d_rotation</mat-icon> Cincinnatian 3D fossils
        </a>

      </div>

    </div>
  </div>
</div>
